# Copy this file to .env and fill in the values
# Path where the "load" task will generate adapted JSON files
ECONVENTION_TO_OSCAR_OUTPUT_DIR=

# Path to the OSCAR application home (to allow command line)
OSCAR_HOME=