# Copy this file to .env and fill in the values

# ECONVENTION TO OSCAR CONFIGURATIONS :

# Path to a directory where the "import_json_to_oscar" task will generate adapted JSON files locally
ECONVENTION_TO_OSCAR_OUTPUT_DIR=#/home/user

# Path to the OSCAR application's directory in OSCAR server to do command line
OSCAR_CLI_WORKING_DIRECTORY=#/var/www/oscar

# Path a directory where the "import_json_to_oscar" task will generate adapted JSON files in OSCAR server
REMOTE_OSCAR_OUTPUT_DIR=#/home/remote_user/remote_directory

# Credentials to communicate with remote OSCAR server
SSH_KEY_PATH=#/home/user/.ssh/id_ed25519
SSH_USER=#user
SSH_HOST=#localhost

# OSCAR TO ECONVENTION CONFIGURATIONS :

# Path to the Apache directory where econvention harvests migrated activities
OSCAR_TO_ECONVENTION_OUTPUT_DIR=#/home/user/apache2_output_directory

# Connection ID created in Airflow UI to connect with Postgres database in OSCAR server
POSTGRES_CONN_ID=#oscar_db
AIRFLOW_CONN_OSCAR_DB=#postgresql://user:password@localhost:5432/oscar_db

# Connection ID created in Airflow UI to connect with Redis database
REDIS_CONN_ID=#redis_cache
AIRFLOW_CONN_REDIS_CACHE=#'redis://user:password@localhost:6379/0'

# CSV samples are given for the test
# CSV file used to dynamically build the ConventionTypeEnum.
# - Separator: ","
# - First row is treated as header and skipped
# - Only the column with type labels will be read
# - Enum member names are normalized automatically (e.g. "Événement spécial" -> EVENEMENT_SPECIAL)
# Example:
# Label
# Recherche
# Convention
# Partenariat
CONVENTION_TYPE_CSV_FILE=samples/TypeConventionSample.csv

# CSV file used to dynamically build the ConventionSousTypeEnum.
# - CSV must have a header row.
# - Two relevant columns: parent type and the value to extract.
# - Only rows where the parent type matches the desired TYPE_PARENT_VALUE are considered.
# - Extracted values are normalized to form Enum member names automatically.
# Example CSV:
# ParentType,Title
# Finance,Budget annuel
# Pédagogie,Partenariat pédagogique
CONVENTION_SOUS_TYPE_CSV_FILE=samples/SousTypeConventionSample.csv

# Name of the CSV column containing the parent type (e.g., "ParentType").
TYPE_PARENT_COLUMN_NAME=TypeParent

# The parent type value used to filter rows (e.g., "Finance").
TYPE_PARENT_VALUE=Recherche

# Name of the CSV column containing the values to be converted into Enum members (e.g., "Title").
VALUE_COLUMN_NAME=Title

# activitytype id "Bascule eConvention" in OSCAR
BASCULE_ECONVENTION_ID=5

# activitytype csv to read for creating ActicityTypeEnum and can be updated after reading in OSCAR db
ACTIVITY_TYPE_CSV_FILE=samples/ActivityTypeSample.csv
