# Copy this file to .env and fill in the values

# GENERAL CONFIGURATIONS :

# Path to use if the path ECONVENTION_TO_OSCAR_OUTPUT_DIR doesn't exist or can't be written
FALLBACK_OUTPUT_DIR=

# ECONVENTION TO OSCAR CONFIGURATIONS :

# Path where the "load" task will generate adapted JSON files
ECONVENTION_TO_OSCAR_OUTPUT_DIR=

# Path to the OSCAR application home (to allow command line)
OSCAR_HOME=

# OSCAR TO ECONVENTION CONFIGURATIONS :

# Connection ID created in Airflow UI to connect with Postgres database

POSTGRES_CONN_ID=

# CSV samples are given for the test
# CSV file used to dynamically build the ConventionTypeEnum.
# - Separator: ","
# - First row is treated as header and skipped
# - Only the column with type labels will be read
# - Enum member names are normalized automatically (e.g. "Événement spécial" -> EVENEMENT_SPECIAL)
# Example:
# Label
# Recherche
# Convention
# Partenariat
CONVENTION_TYPE_CSV_FILE=

# CSV file used to dynamically build the ConventionSousTypeEnum.
# - CSV must have a header row.
# - Two relevant columns: parent type and the value to extract.
# - Only rows where the parent type matches the desired TYPE_PARENT_VALUE are considered.
# - Extracted values are normalized to form Enum member names automatically.
# Example CSV:
# ParentType,Title
# Finance,Budget annuel
# Pédagogie,Partenariat pédagogique
CONVENTION_SOUS_TYPE_CSV_FILE=

# Name of the CSV column containing the parent type (e.g., "ParentType").
TYPE_PARENT_COLUMN_NAME=

# The parent type value used to filter rows (e.g., "Finance").
TYPE_PARENT_VALUE=

# Name of the CSV column containing the values to be converted into Enum members (e.g., "Title").
VALUE_COLUMN_NAME=


# activitytype id "Bascule eConvention" in OSCAR
BASCULE_ECONVENTION_ID=