[paths]
# Path to your local Airflow home directory

AIRFLOW_HOME = /home/user/airflow

# Path where the "load" task will generate adapted JSON files
# before they are imported into OSCAR using CLI with BashOperator

AIRFLOW_ETL_LOAD = /home/user/airflow/data

# Path to the OSCAR application home (used for later integration)

OSCAR_HOME = /var/www/oscar